*{
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}
body{
     width: 100%;
     min-height: 100vh;
     background-color: #111827;
}
.info_wrapper{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     background-color: #111722;
}
.infos{
     width: 80vw;
     height: auto;
     display: flex;
     flex-direction: row;
     padding-top: 50px;
}
.nav{
     width: 20%;
     max-height: 50vh;
     background-color: #1f2937;
     display: flex;
     flex-direction: column;
     border-radius: 5px;
     margin: 10px;
}
.btn_wrapper{
     width: auto;
     display: flex;
     align-items: center;  
     flex-direction: column;
}
.icon{
     display: flex;
     flex-direction: row;
     width: fit-content;
     height: auto;
     align-items: center;
     margin: 5px;
     margin-top: 80px;
}
.icon svg{
     width: 40px;
     color: goldenrod;
}
.icon img{
     width: 50px;
     height: 50px;
}
.icon label{
     color: goldenrod;
     font-weight: 900;
     font-size: 20px;
     font-family:roboto;
     letter-spacing: 3px;
     padding: 5px;
}
.btn{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.btn_can{
     color: goldenrod;
     font-size: 18px;
     text-decoration: none;
     padding: 10px;
     display: flex;
     flex-direction: row;
     width: 90%;
     font-weight: 600px;
     height: fit-content;
     border-radius: 5px;
     margin: 1px;
}
.btn_can:hover{
     background-color: #111827;
}
.active_btn{
     background-color: #111722;
}
.btn_icon{
     margin-left: 30%;
     height: 100%;
     margin-right: 10px;
}
.btn_can svg{
     color: goldenrod;
     
}
.can{
     min-height: 100vh;
     width: 100%;
     background-color: #111827;
}
.card_wrapper{
     display: flex;
     width: 100%;
     height: auto;
     background-color: #111827;
     justify-content: center;
     align-items:center;
     transition: 0.05s ease-in-out;
     flex-direction: column;
}

.profile_wrap{
     width: 90%;
     height: 400px;
     background-color: #1f2937;
     margin: 50px;
     border-radius: 8px;
     display: flex;
     flex-direction: row;
}
.profile{
     width: 30%;
     height: 100%;
     display: flex;
     justify-content: center;
}
.profile_icon{
     margin-top: 20px;
     width: 250px;
     height: 250px;
     border-radius: 50%;
}
.profile_icon svg{
     width: 250px;
     height: 250px;
}
.info{
     width: 70%;
     height: 400px;
     display: flex;
     flex-direction: column;
     }
.information{
     height: 100%;
     width: auto;
}
.info_con{
     padding: 5px;
     margin-top: 5px;
}
.details{
     color: white !important;
     font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
     font-weight: 700;
}
.acc_title_con{
     height: 50px;
     width: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}
.acc_title{
     color: darkgoldenrod;
     font-size: 30px;
     font-style: italic;
     letter-spacing: 1px;
}
.name{
     font-style: italic;
     letter-spacing: 1px;
     font-size: 17px;
}
.acc_btn{
     margin-top: 10px;   
     padding-top: 10px;
     height: 200px;
     border-top: 0.01rem solid #9c9d9c;
     width: 90%;
     display: flex;
     flex-direction: row;
     justify-content: right; 
     align-items: center; 
}

.acc_btn_edit, .acc_btn_delete{
     height: 50px;
     margin-left: 10px;
     padding: 10px;
     background-color: #111722 !important;
     outline: none !important;
     border-radius: 5px;
     color: white;
     font-size: 16px;
     border: none !important;
     font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
     font-weight: 600;
}

.acc_btn_edit:hover{
     background-color: #238636 !important;
     cursor: pointer;
     
}
.acc_btn_delete:hover{
     background-color: crimson !important;
     cursor: pointer;
     
}

.footer{
     height: fit-content;
     width: 100%;
     background-color: #f9faf9;
     color: #9c9d9c;
     background-color: #111827;
     display: flex;
     flex-direction: column;
}
.upper{
     border-top: 0.01em solid #1f2937;

     height: 50px;
     width: 100%;
     color:#9c9d9c;
     display: flex;
     justify-content: center;
     align-items: center;
}  
.lower{
     height: 50px;
     width: 100%;
     color:#9c9d9c;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 12px;
}    