*{
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}
body{
     width: 100%;
     min-height: 100vh;
     background-color: #111827;
}    
.info_wrapper{
     width: 100vw;
     height: auto;
     display: flex;
     justify-content: center;
     background-color: #111722;
}
.infos{
     width: 80vw;
     height: auto;
     display: flex;
     flex-direction: row;
     padding-top: 50px;
}
.nav{
     width: 20%;
     max-height: 50vh;
     background-color: #1f2937;
     display: flex;
     flex-direction: column;
     border-radius: 5px;
     margin: 10px;
}
.btn_wrapper{
     width: auto;
     display: flex;
     align-items: center;  
     flex-direction: column;
}
.icon{
     display: flex;
     flex-direction: row;
     width: fit-content;
     height: auto;
     align-items: center;
     margin: 5px;
     margin-top: 80px;
}
.icon svg{
     width: 40px;
     color: goldenrod;
}
.icon img{
     width: 50px;
     height: 50px;
}
.icon label{
     color: goldenrod;
     font-weight: 900;
     font-size: 20px;
     font-family:roboto;
     letter-spacing: 3px;
     padding: 5px;
}
.btn{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.btn_can{
     color: goldenrod;
     font-size: 18px;
     text-decoration: none;
     padding: 10px;
     display: flex;
     flex-direction: row;
     width: 90%;
     font-weight: 600px;
     height: fit-content;
     border-radius: 5px;
}
.btn_can:hover{
     background-color: #111827;
}
.btn_icon{
     margin-left: 30%;
     height: 100%;
     margin-right: 10px;
}
.btn_can svg{
     color: goldenrod;
     
}
.can{
     min-height: 100vh;
     width: 100%;
     background-color: #111827;
}
.card_wrapper{
     display: flex;
     width: 100%;
     height: auto;
     flex-wrap: wrap;
     background-color: #111827;
     justify-content: center;
     align-items:center;
     transition: 0.05s ease-in-out;
}
.card{
     height: 200px;
     width: 230px;
     background-color: crimson;
     margin: 20px;
     border-radius: 5px;
     transition: .05s ease-in-out;
     border: 1px solid crimson;
}
.card:hover {
     transition: .2s ease-in-out;
     /* backdrop-filter: blur(16px) saturate(180%); */
     /* -webkit-backdrop-filter: blur(16px) saturate(180%); */
     background-color: rgba(17, 25, 40, 0.75);
     border-radius: 12px;
     border:0.01rem solid goldenrod;
     /* transform: scale(1.02); */
 }
 .card a:hover, .card p:hover{
     transition: .2s ease-in-out;
     color: goldenrod;
 }
.card a{
     width: 100%;
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     color: white;
     font-weight: 600;
     text-decoration: none;
     font-family: roboto;
     letter-spacing: 2px;
     flex-direction: column;
}
.card a svg{
     width: 50px;
     height: 50px;
     margin-bottom: 5px;

}    