<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <div class="profile_wrap">
          <div class="profile">
               <div class="icon">

               </div>
          </div>  
          <div class="info">
               <div class="fullname">
                    
               </div>
          </div>    
          <div class="acc_btn">

          </div>         
          <h1> hahhah</h1>
     </div>
</body>
</html>